parameters:
	level: 6
	paths:
		- src
		- tests
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- "#Method .*has parameter .*with no value type specified in iterable type array#"
		- "#Method .* return type has no value type specified in iterable type array.#"
		- "#Property .* type has no value type specified in iterable type array.#"
		- "#Call to an undefined method.*ObjectProphecy::hasOption.*#"
