<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         cacheResultFile="var/phpunit/test-results"
         bootstrap="vendor/autoload.php"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="COLUMNS" value="80" force="true" />
  </php>

    <testsuites>
        <testsuite name="Acquia CMS Starterkit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./bin</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
