<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/unit/bootstrap.php">
    <testsuites>
        <testsuite name="Symfony console tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./bin</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>